<h1>To do list for <%= current_user.email %> </h1>
<br>

<div class="col-md-4">
    <%= link_to 'New Item', new_item_path, class: "btn btn-success" %>
</div>
<br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> Item </th>
      <th> time remaining </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>
