<br>
<div class="jumbotron">
  <h1>Markoff</h1>
  <p>Markoff is an application for reducing clutter on your to-do list!</p>
  <p>
  <%= link_to "Sign In" %> or <%= link_to "Sign Up" %> today!
</p>
</div>
