<div class="col-md-4">
  <p>Guidelines for items:</p>
  <ul>
    <li>Make sure the item is important.</li>
    <li>Keep the description brief.</li>
    <li>Mark it off when it is completed.</li>
    <li>Don't be lazy! Everyone can see what you haven't finished!</li>
  </ul>
</div>
<div class="col-md-8">
  <%= render partial: 'form', locals: { item: @item } %>
</div>
